@model BookReviewApp.Models.Book

@{
    ViewBag.Title = Model.Title;
}



<div class="container" style="margin-top:20px;">
    <div class="row">
        <div class="col-sm-6">
            <center> <img src="@Model.Cover" /></center>
        </div>
        <div class="col-sm-6">
            <center><h1>@Html.DisplayFor(model => model.Title)</h1></center>
            <center><h3>@Model.Author.Name @Model.Author.Surname</h3></center>
            <p><b>Opis:</b>@Model.Description</p>
            <p><b>Liczba stron:</b> @Model.Pages</p>
            <p><b>ISBN: </b>@Model.ISBN</p>
            @if (ViewBag.MyReview.Equals("Nie oceniłeś tej książki"))
            {
                <p><b>@ViewBag.MyReview</b></p>
            }
            else if (ViewBag.MyReview.Equals("Zaloguj się aby zobaczyć ocenę"))
            {
                <p><b>@ViewBag.MyReview</b></p>
            }
            else
            {
                <p><b >Moja ocena: @ViewBag.MyReview/10</b></p>
            }
            
        
            <h3>Oceny użytkowników</h3>
            @foreach (var item in Model.Reviews.Take(3))
            {

                <p><b >Użytkownik @item.Name ocenił na @item.Rating</b><br /><i>@item.Description</i></p>


            }

            @Html.ActionLink("Powrót do listy książek", "Index")

            @if (User.IsInRole("Admin"))
            {
                <p>@Html.ActionLink("Edit", "Edit", new { id = Model.BookId })</p>
            }
        
        </div>
        
   
</div>