@model BookReviewApp.Models.Book

@{
    ViewBag.Title = Model.Title;
}



<div class="container margin-top" >
    <div class="row">
        <div class="col-sm-6">
            <center> <img src="@Model.Cover" /></center>
        </div>
        <div class="col-sm-6">
            <h1 class="title-center">@Html.DisplayFor(model => model.Title)</h1>
             
                <h3 class="author-name">
                        <a href="/Authors/Details/@Model.AuthorId" class="link">
                            @Model.Author.Name @Model.Author.Surname
                        </a>
                    
                </h3>
            

            <p><b>Opis:</b>@Model.Description</p>
            <p><b>Liczba stron:</b> @Model.Pages</p>
            <p><b>ISBN: </b>@Model.ISBN</p>
            @if (ViewBag.MyReview.Equals("Nie oceniłeś tej książki"))
            {
                <p><b>@ViewBag.MyReview</b></p>
            }
            else if (ViewBag.MyReview.Equals("Zaloguj się aby zobaczyć ocenę"))
            {
                <p><b>@ViewBag.MyReview</b></p>
            }
            else
            {
                <p><b >Moja ocena: @ViewBag.MyReview/10</b></p>
            }
            
        
            <h3>Oceny użytkowników</h3>
            
            @if(Model.Reviews.Count() == 0)
            {
                <p><b>Nikt jeszcze nie ocenił tej książki</b></p>
            }
            @foreach (var item in Model.Reviews.Take(3))
            {

                <p><b >Użytkownik @item.Name ocenił na @item.Rating</b><br /><i>@item.Description</i></p>


            }

            @Html.ActionLink("Powrót do listy książek", "Index")

            @if (User.IsInRole("Admin"))
            {
                <p>@Html.ActionLink("Edit", "Edit", new { id = Model.BookId })</p>
            }
        
        </div>
        
   
</div>