@model BookReviewApp.Models.Author

@{
    ViewBag.Title = Model.Name+" "+Model.Surname;
}


<div class="container margin-top">
    <div class="row">
        <div class="col-sm-6">
            <center><img src="@Model.Photo" /></center>
        </div>
        <div class="col-sm-6">
            
            <h1 class="title-center">@Model.Name @Model.Surname</h1>
            <p><b>Życiorys: </b>@Model.Description</p>

            <p>
                <b>Lista książek:</b>
                <ul>
                    @foreach (var item in Model.Books.Take(10))
                    {
                        <li><a href="/Books/Details/@item.BookId" class="link">@item.Title</a></li>
                    }
                </ul>
            </p>
            <p class="title-center"><a href="/Books/Index/?id=@Model.AuthorId" class="link-author-details">Zobacz książki &raquo;</a></p>
            
            @Html.ActionLink("Powrót do listy autorów", "Index")

            @if (User.IsInRole("Admin"))
            {
                <p>@Html.ActionLink("Edytuj", "Edit", new { id = Model.AuthorId })</p>
            }
        </div>
    </div>

</div>
