@model BookReviewApp.Models.Author

@{
    ViewBag.Title = Model.Name+" "+Model.Surname;
}


<div class="container" style="margin-top:20px;">
    <div class="row">
        <div class="col-sm-6">
            <center> <img src="@Model.Photo" /></center>
        </div>
        <div class="col-sm-6">
            
            <center><h1>@Model.Name @Model.Surname</h1></center>
            <p><b>Życiorys: </b>@Model.Description</p>

            <p>
                <b>Lista książek:</b>
                <ul>
                    @foreach (var item in Model.Books)
                    {
                        <li><a href="/Books/Details/@item.BookId">@item.Title</a></li>
                    }
                </ul>
            </p>
            
            
            @Html.ActionLink("Powrót do listy autorów", "Index")

            @if (User.IsInRole("Admin"))
            {
                <p>@Html.ActionLink("Edit", "Edit", new { id = Model.AuthorId })</p>
            }
        </div>
    </div>

</div>
